@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #f0a13a;
  --background-color: rgb(0, 0, 0);
  --header-background-color: rgb(0, 0, 0);
  --text-light: #767268;
  --white: rgba(255, 255, 255, 0.9);
  --max-width: 1200px;
  --header-font: "Roboto Condensed", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: flex;
  width: 100%;
}

.logo {
  margin-top: -8rem;
  max-width: 150px;
  position: absolute;
  top: 6rem;
  left: 9rem;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}

header {
  background-color: var(--header-background-color);
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
  line-height: 1.5rem;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-color);
  transition: transform 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {
  font-size: 1rem;
  color: var(--white);
  white-space: nowrap;
}

.nav__links a:hover {
  color: var(--background-color);
}

.nav__btns {
  display: none;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--header-font);
  line-height: 2.75rem;
  color: var(--white);
}

.section__description {
  font-size: 1rem;
  color: var(--text-light);
  line-height: 1.75rem;
}

.header__container {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding-bottom: 0;
}

.header__container::before {
  position: absolute;
  content: "RUN";
  top: 0;
  right: 0;
  color: var(--white);
  font-size: 25rem;
  font-weight: 600;
  font-family: var(--header-font);
  line-height: 25rem;
  background-image: linear-gradient(
    to top,
    var(--header-background-color),
    var(--white)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
  z-index: -1;
}

.header__container::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-image: linear-gradient(
    to top,
    var(--header-background-color) 25%,
    #ffffff00
  );
  z-index: 1;
}

.header__container h1 {
  max-width: 475px;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--header-font);
  line-height: 3.75rem;
  color: var(--white);
}

.header__container .section__description {
  max-width: 300px;
  margin-bottom: 1rem;
}

.header__container a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1rem;
  color: var(--primary-color);
}

.header__container a span {
  color: var(--white);
}

.shop {
  position: relative;
  isolation: isolate;
}

.shop::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-image: linear-gradient(
    to bottom,
    var(--header-background-color),
    var(--background-color)
  );
}

.shop__container {
  display: grid;
  gap: 1rem;
}

.shop__card {
  position: relative;
  isolation: isolate;
  padding: 1rem;
  border-radius: 1rem;
  background-image: linear-gradient(
    to bottom,
    var(--header-background-color),
    rgba(192, 19, 19, 0.2)
  );
  overflow: hidden;
}

.shop__card::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: var(--white);
  font-size: 15rem;
  font-weight: 600;
  font-family: var(--header-font);
  line-height: 15rem;
  background-image: linear-gradient(
    to top,
    var(--header-background-color),
    var(--white)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
  z-index: -1;
}

.shop__card p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--primary-color);
}

.shop__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
}

.shop__card img {
  max-width: 200px;
  margin-inline: auto;
  margin-block: 4rem;
}

.shop__card div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.shop__card div a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1rem;
  color: var(--primary-color);
}

.shop__card div a span {
  color: var(--white);
}

.shop__card div > span {
  color: var(--text-light);
}

.about {
  overflow: hidden;
}

.about__container {
  display: grid;
  gap: 2rem;
}

.about__image {
  position: relative;
  isolation: isolate;
}

.about__image::before {
  position: absolute;
  content: "Sobre";
  top: 0;
  right: 0;
  color: var(--white);
  font-size: 15rem;
  font-weight: 600;
  font-family: var(--header-font);
  white-space: nowrap;
  line-height: 15rem;
  background-image: linear-gradient(
    to bottom,
    var(--background-color),
    var(--white)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
  z-index: -1;
}

.about__image::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(to top, var(--background-color), #ffffff00);
  z-index: 1;
}

.about__image img {
  max-width: 525px;
  margin-inline: auto;
}

.about__content .section__header {
  margin-bottom: 1rem;
}

.about__content .section__description {
  margin-bottom: 1rem;
}

.about__stats {
  max-width: 350px;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__stats h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--primary-color);
}

.about__stats p {
  font-size: 1rem;
  font-family: var(--header-font);
  color: var(--text-light);
}
.banner__container p {
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
  z-index: 1;
}

.banner__container p:nth-child(1) {
  top: 15%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.banner__container p:nth-child(2) {
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.banner__container p:nth-child(3) {
  bottom: 15%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.banner__container p:nth-child(4) {
  top: 15%;
  right: 20%;
  transform: translate(50%, -50%);
}

.banner__container p:nth-child(5) {
  top: 50%;
  right: 15%;
  transform: translate(50%, -50%);
}

.banner__container p:nth-child(6) {
  bottom: 15%;
  right: 20%;
  transform: translate(50%, -50%);
}

.banner__container img {
  max-width: 350px;
  margin-inline: auto;
  opacity: 0.5;
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  font-size: 1rem;
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--white);
}

.footer__bar {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 1rem;
  border-top: 1px solid var(--text-light);
}

.footer__bar p {
  font-size: 1rem;
  color: var(--text-light);
  text-align: center;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__socials a {
  font-size: 1.2rem;
  color: var(--text-light);
}

.footer__socials a:hover {
  color: var(--white);
}





/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  padding: 1rem;
}

.modal-content {
  background: rgba(140, 140, 140, 0.34);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(10px);
  margin: 2rem auto;
  padding: 1.25rem;
  border-radius: 1rem;
  width: 95%;
  max-width: 650px;
  position: relative;
  border: 1px solid rgba(255, 7, 7, 0.03);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
}

@media (min-width: 768px) {
  .modal {
    align-items: center;
    padding: 2rem;
  }
  
  .modal-content {
    margin: 0 auto;
    padding: 2rem;
  }
}

.modal-content form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
}

@media (min-width: 640px) {
  .modal-content form {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

/* Campos que ocupam uma coluna */
.modal-content form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Campos que ocupam duas colunas */
.modal-content form > div.full-width {
  grid-column: 1 / -1;
}

.form-buttons {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1rem;
}

@media (min-width: 480px) {
  .form-buttons {
    flex-direction: row;
    margin-top: 1.5rem;
    gap: 1rem;
  }
}

.modal-content input {
  background-color: transparent;
  padding: 0.75rem;
  font-size: 0.875rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  color: var(--white);
  transition: all 0.3s;
}

.form-title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 1.25rem;
  padding-top: 0.5rem;
  padding-right: 2rem;
  cursosr: pointer;
}  

@media (min-width: 640px) {
  .form-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

.modal-content label {
  color: var(--white);
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.modal-content button[type="submit"] {
  flex: 1;
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

.modal-content button[type="submit"]:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.cancel-button {
  flex: 1;
  text-align: center;
  padding: 0.75rem 2rem;
  color: var(--white) !important;
  background: transparent;
  border: 2px solid var(--white);
  border-radius: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

.cancel-button:hover {
  color: var(--primary-color) !important;
  border-color: var(--primary-color);
}

.close-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: none;
  color: var(--white);
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s;
  padding: 0.5rem;
}

.close-button:hover {
  color: var(--primary-color);
}

.close-button i {
  color: var(--white);
}

.close-button:hover i {
  color: var(--primary-color);
}

@media (width > 540px) {
  .shop__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner__container img {
    opacity: 1;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    color: var(--primary-color);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none !important;
  }

  .nav__links a {
    color: var(--text-light);
  }

  .nav__links a:hover {
    color: var(--white);
  }

  .nav__btns {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .nav__btns .btn {
    padding: 4px 10px;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--text-light);
    background-color: transparent;
    border-radius: 100%;
    transition: 0.3s;
    cursor: pointer;
  }

  .nav__btns .btn:hover {
    color: var(--primary-color);
  }

  .header__container {
    padding-top: 2rem;
  }

  .header__container::after {
    height: 50%;
  }

  .shop__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .banner__container p span {
    position: relative;
    isolation: isolate;
  }

  .banner__container p span::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 5rem;
    background-color: var(--text-light);
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }

  .banner__container p:nth-child(1) span::after {
    width: 4rem;
    left: calc(6rem - 1px);
    transform: translateY(-50%) rotate(45deg);
    transform-origin: left;
  }

  .banner__container p:nth-child(3) span::after {
    width: 4rem;
    left: calc(6rem - 1px);
    transform: translateY(-50%) rotate(-45deg);
    transform-origin: left;
  }
  .banner__container p:nth-child(4) span::after {
    width: 4rem;
    right: calc(6rem - 1px);
    transform: translateY(-50%) rotate(-45deg);
    transform-origin: right;
  }

  .banner__container p:nth-child(6) span::after {
    width: 4rem;
    right: calc(6rem - 1px);
    transform: translateY(-50%) rotate(45deg);
    transform-origin: right;
  }

  .footer__container {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__col:nth-child(1) {
    max-width: 350px;
    grid-column: 1/3;
  }

  .footer__bar {
    flex-direction: row;
  }
}

@media (width > 1024px) {
  .nav__links {
    gap: 3rem;
  }

  .shop__container {
    gap: 1.5rem;
  }

  .shop__card {
    padding: 2rem;
  }

  /* Estilo para a página de estoque */

  body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color); /* Mantém o fundo preto padrão */
    color: var(--white); /* Adiciona cor branca para o texto padrão */
  }

  header {
    background-color: var(--header-background-color);
  }

  .estoque__container {
    background-color: var(
      --white
    ); /* Define o fundo do container de estoque como branco */
    color: var(
      --background-color
    ); /* Define a cor do texto dentro do container como preto */
    padding: 2rem; /* Adicione algum padding para o conteúdo não ficar grudado nas bordas */
    border-radius: 8px; /* Opcional: para dar bordas arredondadas */
    margin-top: 2rem; /* Opcional: para dar espaço do cabeçalho */
  }

  .estoque__container h1,
  .estoque__container table th,
  .estoque__container table td,
  .estoque__container a {
    color: var(
      --background-color
    ); /* Garante que os elementos dentro do container tenham cor preta */
  }
 
  .estoque__container a:hover {
    color: var(--primary-color); /* Mantém o hover laranja nos links */
  }

  .estoque__container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }

  .estoque__container table th,
  .estoque__container table td {
    padding: 0.75rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.81);
    text-align: left;
  }

  .estoque__container table th {
    background-color: #f2f2f2;
  }

  .estoque__container table tr:hover {
    background-color: #f9f9f9;
  }

/* Estilos existentes podem estar aqui */

.estoque__header {
  display: flex;
  flex-direction: column; /* Inicialmente empilha verticalmente em telas menores */
  gap: 15px; /* Espaçamento entre o título e as ações */
  margin-bottom: 20px;
  align-items: flex-start; /* Alinha os itens à esquerda por padrão */
}

.estoque__actions {
  display: flex;
  gap: 10px; /* Espaçamento entre a barra de pesquisa e o botão */
  align-items: center; /* Alinha verticalmente a barra de pesquisa e o botão */
}

/* Estilos para a nova barra de pesquisa */
.InputContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 170px; /* Mantendo a largura */
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}

.searchIcon {
  width: 13px;
}

.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}

.searchIcon path {
  fill: rgb(114, 114, 114);
}

.button-adicionar {
  display: inline-block;
  padding: 8px 12px;
  background-color:rgb(255, 255, 255); /* Nova cor de fundo: preto */
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0); /* Opcional: Adiciona uma borda laranja para destacar */
}

.button-adicionar:hover {
  background-color:rgb(0, 0, 0); /* Cor de fundo ao passar o mouse (um tom mais escuro de preto) */
  color: #ff8c00; /* Cor do texto ao passar o mouse (branco) - você pode ajustar isso também */
}

/* Media query para telas maiores para alinhar horizontalmente */
@media (min-width: 768px) {
  .estoque__header {
      flex-direction: row; /* Alinha título e ações horizontalmente */
      justify-content: space-between; /* Espaça o título e as ações */
      align-items: center;
  }

  .estoque__actions {
      align-items: center; /* Garante o alinhamento vertical */
  }
}

.cancel-button {
    text-align: center;
    padding: 0.75rem 2rem;
    color: var(--primary-color) !important;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s;
}

.cancel-button:hover {
    color: var(--white) !important;
    border: 2px solid var(--white);
}

.modal-content input:focus {
  outline: none;
  border-bottom: 2px solid var(--primary-color);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) {
  .modal-content button[type="submit"],
  .cancel-button {
    width: 100%;
  }
  
  .close-button {
    top: 0.5rem;
    right: 0.5rem;
  }
}

/* Estilização da barra de rolagem para o modal */
.modal-content::-webkit-scrollbar {
  width: 5px;
}

.modal-content::-webkit-scrollbar-track {
  background: transparent;
}

.modal-content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

/* Estilização para Firefox */
.modal-content {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

/* Estilização da barra de rolagem para o body quando o modal está aberto */
body.modal-open {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) rgba(255, 255, 255, 0.1);
}

body.modal-open::-webkit-scrollbar {
  width: 8px;
}

body.modal-open::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

body.modal-open::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

body.modal-open::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  border: 2px solid transparent;
  background-clip: padding-box;
}
}