<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Funcionário</title>
</head>
<body>
    <h1>Cadastrar novo funcionário</h1>
    <form action="/cadastrar-funcionario" method="post">
        <label for="reg">Registro:</label>
        <input type="text" name="reg" id="reg"><br><br>

        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome"><br><br>

        <label for="cargo">Cargo:</label>
        <input type="text" name="cargo" id="cargo"><br><br>

        <label for="data">Data de admissão:</label>
        <input type="date" name="data" id="data"><br><br>

        <button type="submit">Cadastrar</button>
    </form>

    <br>
    <a href="/">Clique aqui para voltar ao Login</a>
</body>
</html>
