<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Funcionário</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="cadastro-body">
    <form action="/cadastrar-funcionario" method="post" class="form">
   <div class="input-container">
        <p class="form-title">Cadastro</p>

        <input type="text" name="registro" id="registro" required
            placeholder="Coloque o número de registro"> 
   </div>

        <div class="input-container">
            <input type="text" name="nome" id="nome" required
                placeholder="Coloque o nome"> 
        </div>

        <div class="input-container">
            <input type="text" name="cargo" id="cargo" required
                placeholder="Coloque o cargo"> 
        </div>

        <div class="input-container">
            <input type="date" name="data" id="data" required> 
        </div>
        <button type="submit" class="submit">Cadastrar</button>
        <a href="/" class="signup-link">Clique aqui para voltar ao Login</a>
    </form>
</body>
</html>
